body{
	display: ruby-base-container;
	background-color: #717258;

}
.principal{
	width: 1000%;
	height: 16vh;
	background-color: #2F510D;

}
.imagem{
	margin-top: -140px;
	margin-left: 60px;
}
.p1{
	font-size: 30px;
	margin-top: -130px;
	margin-left: 200px;

}
.quadrado1{
	width: 20%;
	height: 45vh;
	display: flex;
	flex-direction: column;
	background-color: #2F510D;
	margin-top: 90px;
	margin-left: 50px;
	display: inline-block;
	margin: 20px
	transform:translate(-50%, -50%);
}

.tamanho{
	margin-top: -440px;
	margin-left: 70px;
	font-size: 28px;
}

.quadrado2{
	width: 20%;
	height: 45vh;
	display: flex;
	flex-direction: column;
	background-color: #2F510D;
	margin-top: -397px;
	margin-left: 530px;
	display: inline-block;
	margin: 20px
	transform:translate(-50%, -50%);
}

.letra{
	margin-top: -400px;
	margin-left: 570px;
	font-size: 28px;
}

.quadrado3{
	width: 20%;
	height: 45vh;
	display: flex;
	flex-direction: column;
	background-color: #2F510D;
	margin-top: -325px;
	margin-left: 1010px;
	display: inline-block;
	margin: 20px
	transform:translate(-50%, -50%);
}

.pala{
	margin-top: -450px;
	margin-left: 1060px;
	font-size: 28px;
}

.quadrado4{
	width: 20%;
	height: 45vh;
	display: flex;
	flex-direction: column;
	background-color: #2F510D;
	margin-top: -402px;
	margin-left: 1480px;
	display: inline-block;
	margin: 20px
	transform:translate(-50%, -50%);
}

.leyer{
	margin-top: -400px;
	margin-left: 1532px;
	font-size: 28px;
}

.video{
   margin-top: 120px;
	margin-left: 580px;
	font-size: 30px;
}

footer{
	width: 1000%;
	height: 10vh;
	background-color: #2F510D;
	font-size: 25px;
}

a{
	color: black;
}

.image{
	margin-top: 120px;
	margin-left: 450px;
}

@media (max-width: 760) {
	.principal{
		width: 1000%;
	}
}

@media (max-width: 760){
	.p1{
		font-size: 90px;
	    margin-top: -300px;
	    margin-left: 450px;
	}

@media (max-width: 760){
    .quadrado1, .quadrado2, .quadrado3{
            width: 60%;

    }

}